.container {
  padding: 20px;
}
.fieldLabel {
  font-size: 14px;
  margin-bottom: 4px;
  color: #606060;
  font-family:"Poppins, sans-serif" ;
  font-weight: 400;
}
.textField {
   font-weight: 400;
   height:35px ;
  :global(.MuiInputBase-root) {
    height: 35px;
    padding-top: 4px;    
    padding-bottom: 4px;
  }
}
.customerName{
  width: 330px;
}
.addressContainer{
  display: flex;
  gap: 20px;
}
.address{
  width: 214px;
}

.HeaderContainer1{
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
padding-bottom: 15px;
padding-top: 15px;
border-bottom: 1px solid #72777F;
}
.refresh{
display: flex;
justify-content: flex-end;
align-items: center;
gap: 8px;
}
.FooterContent{
  border-top: 1px solid #72777F;
  padding-bottom: 15px;
padding-top: 15px;
padding-right: 20px;
}
.buttons{
  display: flex;
justify-content: flex-end;
gap: 15px;
}


@media screen and (max-width:1500px){
  .customerName{
    width: 100%;
  }
  
  .address{
    width:100%
  }
}
